[submodule "ml-docs"]
	path = ml-docs
	url = git@github.com:pktippa/ml-docs.git
[submodule "ml-blog"]
	path = ml-blog
	url = git@github.com:pktippa/ml-blog.git
[submodule "ai-training"]
	path = ai-training
	url = git@github.com:pktippa/ai-training.git
[submodule "software-development"]
	path = software-development
	url = git@github.com:pktippa/software-development.git
